// ----- Base ----- //

$shit-yellow: rgb(253, 231, 85);
$bg-color: #fdfdfd;
$fg-color: #f23f5d;

// ----- Animation ----- //

$anim-duration: 2.5s;
$anim-timing-function: cubic-bezier(.75, 0, .5, 1);
$anim-iteration-count: infinite;
$anim-direction: normal;

// ----- @mixin ----- //

@mixin animation($name) {
  animation: $name $anim-duration $anim-timing-function $anim-iteration-count $anim-direction;
}

@mixin blue {
  background-color: $fg-color;
  border: 1px solid $fg-color;
  height: 1em;
  width: 1em;
}

// ----- Style ----- //

#app4 {
  @keyframes change {
    0% {
      background-color: $shit-yellow;
      transform: scale(.5);
    }

    100% {
      background-color: $fg-color;
      transform: scale(.8);
    }
  }

  &.app4 {
    align-items: center;
    display: grid;
    justify-items: center;
    position: relative;
  }

  .circle {
    border: 1px solid $fg-color;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;

    &.active {
      animation: change 1s infinite both linear;
    }

    .heart {
      @include animation(heart);
      content: '';
      left: 50%;
      position: absolute;
      top: 50%;
    }

    .heart-L {
      @include animation(heart-L);
      @include blue;
      border-radius: 100%;
      content: '';
      display: block;
      position: absolute;
      transform: translate(-9px, -8px);
    }

    .heart-R {
      @include animation(heart-R);
      @include blue;
      border-radius: 100%;
      content: '';
      display: block;
      position: absolute;
      transform: translate(9px, -8px);
    }

    .square {
      @include animation(square);
      @include blue;
      content: '';
      display: block;
      position: relative;
      transform: scale(1) rotate(-45deg);
    }

    shadow {
      @include animation(shadow);
      background-color: darken($bg-color, 15%);
      border: 1px solid darken($bg-color, 15%);
      border-radius: 50%;
      bottom: -.5em;
      content: '';
      display: block;
      height: .25em;
      left: 50%;
      position: relative;
      top: 100px;
      width: 1em;
    }
  }
}

// ----- Animations ----- //

@keyframes square {
  50% {
    border-radius: 100%;
    transform: scale(.5) rotate(-45deg);
  }

  100% {
    transform: scale(1) rotate(-45deg);
  }
}

@keyframes heart {
  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes heart-L {
  60% {
    transform: scale(.4);
  }
}

@keyframes heart-R {
  40% {
    transform: scale(.4);
  }
}

@keyframes shadow {
  50% {
    border-color: darken($bg-color, 10%);
    transform: scale(.5);
  }
}